@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>On this tab I will put all links and tutorial used for this application.
<p>
    Visual Studio 2019
</p>
    Entity Framework 6
</p>
    MVC 5</p>
<strong>EF 6, MVC 5, CodeFirst: </strong><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Tutorial</a>
<br />
<strong>EF 6: </strong><a href="https://docs.microsoft.com/en-us/ef/ef6/get-started">EF 6</a>
<br />