@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title:</h2>

<p>On this tab I will put all links and tutorial used for this application.
<p>
    Visual Studio 2019
</p>
    Entity Framework 6
</p>
    MVC 5</p>
